In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [20]:
cent = pd.read_csv('ds/ds_power1.csv')
cent1 = cent.drop(['Unnamed: 0'], axis=1)
cent2=[tuple(x) for x in cent1.to_records(index=False)]

In [21]:
#Ranking the total power of node i
def eff_Ranking( val ):
      return val [1]
ds_Rank =cent2
ds_Rank.sort(key=lambda elem: elem[1])

In [24]:
ds_Rank_table = pd.DataFrame(ds_Rank, columns = ('NDR','Density'))
#ds_Rank_table = pd.DataFrame(ds_Rank_table.loc[0:4])
ds_Rank_table.index = ds_Rank_table.index + 1

In [25]:
ds_Rank_table
#ds_Rank_table.to_csv('result/power/ds_Ranking_top_power1.csv')

       NDR   Density
1     4345  0.000538
2     4384  0.000538
3     4352  0.000538
4     4381  0.000538
5     4373  0.000538
6     4395  0.000538
7     2585  0.000538
8     2553  0.000538
9     4332  0.000538
10    4336  0.000538
11    4392  0.000538
12    2662  0.000539
13    4361  0.000539
14    4402  0.000539
15    4347  0.000539
16     313  0.000539
17    4359  0.000539
18    4401  0.000539
19    4413  0.000539
20    2533  0.000539
21    2883  0.000539
22    4374  0.000539
23    2542  0.000539
24    2851  0.000539
25    4344  0.000539
26    4372  0.000539
27    4398  0.000539
28    4408  0.000539
29    2798  0.000539
30    2800  0.000539
...    ...       ...
4912  4915  0.000540
4913  4916  0.000540
4914  4917  0.000540
4915  4918  0.000540
4916  4919  0.000540
4917  4920  0.000540
4918  4921  0.000540
4919  4911  0.000540
4920  4922  0.000540
4921  4923  0.000540
4922  4912  0.000540
4923  4924  0.000540
4924  4925  0.000540
4925  4895  0.000540
4926  4926  0.000540
4927  4927  0.000540
4928  4928  0.000540
4929  4929  0.000540
4930  4930  0.000540
4931     3  0.000540
4932  4931  0.000540
4933  4934  0.000540
4934  4932  0.000540
4935  4933  0.000540
4936  4935  0.000540
4937  4937  0.000540
4938  4938  0.000540
4939  4936  0.000540
4940  4939  0.000540
4941  4940  0.000540

[4941 rows x 2 columns]