In [1]:
import networkx as nx
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math

In [2]:
import Tr_centrality_measure
import Graph_Entropy_measure
import Selection_Algorithm
import Constraint_Coefficient

In [11]:
TC_table = pd.DataFrame(Tr_centrality_measure.TC_Rank, columns = ('nodes_TC','TC_i'))
#TC_table.nodes_TC = TC_table.nodes_TC + 1
PI_table = pd.DataFrame(Graph_Entropy_measure.PI_Rank, columns = ('nodes_PI','PI_i'))
PI_table.PI_i = PI_table.PI_i
CC_table = pd.DataFrame(Constraint_Coefficient.sorted_x, columns = ('nodes_CC','CC_i'))
#CC_table.nodes_CC= CC_table.nodes_CC + 1
Result_table = pd.concat([TC_table, PI_table, CC_table], axis=1, sort=False)

First_Five= pd.DataFrame(Result_table.loc[0:2])
First_Five.index = First_Five.index + 1
First_Five

TypeError: cannot convert the series to <class 'float'>

In [4]:
#return the total power of node i.
def TPN(i):
    PI_ofi = Graph_Entropy_measure.PI_of(i)
    TC_ofi = Tr_centrality_measure.TC_of(i)
    CC_ofi = Constraint_Coefficient.CC_of(i)
    #Weight to normalize the measures
    n1=TC_ofi /Tr_centrality_measure.TC_of(i)+Graph_Entropy_measure.PI_of(i)+Constraint_Coefficient.CC_of(i)
    n2=PI_ofi/Tr_centrality_measure.TC_of(i)+Graph_Entropy_measure.PI_of(i)+Constraint_Coefficient.CC_of(i)
    n3=CC_ofi/Tr_centrality_measure.TC_of(i)+Graph_Entropy_measure.PI_of(i)+Constraint_Coefficient.CC_of(i)
    #equation []
    #TPN_i  = (n1*TC_ofi)+(n2*PI_ofi)+(n3*CC_ofi)    
    TPN_i  = (n1*TC_ofi)+(n2*PI_ofi)+(n3*CC_ofi)    
    return TPN_i

In [5]:
#loop total power of node all i
def loop_TPN():
    i=0
    nodes = list(pd.concat([First_Five['nodes_TC'], First_Five['nodes_PI'], First_Five['nodes_CC']]).unique())
    list_TPN=[]    
    for i in nodes:          
        TPN_ = TPN(i)
        i_TPN = [i, TPN_]
        list_TPN.append(i_TPN)  
            
    return  list_TPN

In [6]:
#Ranking the total power of node i
def TPN_Ranking( val ):
      return val [1]

TPN_Rank = loop_TPN()
TPN_Rank.sort(key=lambda elem: elem[1])

In [7]:
#return table containing the TPN values[TPN_table and Top_Five]
TPN_table = pd.DataFrame(TPN_Rank, columns = ('nodes_TPN','TPN_i'))
Top_Five = pd.DataFrame(TPN_table.loc[0:2])
Top_Five.index = Top_Five.index + 1
#TPN_table.nodes_TPN = TPN_table.nodes_TPN + 1
print(Top_Five)
#TPN_table.to_csv('result/TPN_[]_network.csv')
#Top_Five.to_csv('result/TPN_[]_network.csv')

   nodes_TPN     TPN_i
1        232  0.483611
2        340  0.498778
3         15  0.685929

In [8]:
#return table containing ALL the Measures
Propose_Result_table = pd.concat([TC_table, PI_table, CC_table, TPN_table], axis=1, sort=False)
Top_Five = pd.DataFrame(Propose_Result_table.loc[0:2])
Top_Five.index = Top_Five.index + 1
#convert column nodes_TPN to int
Top_Five.nodes_TPN= Top_Five.nodes_TPN.astype(int)
print(Top_Five)
#Propose_Table.to_csv('result/Propose_Table_kc_network.csv')
#Top_Five.to_csv('result/Propose_Table_power_network.csv')

   nodes_TC    TC_i  nodes_PI    PI_i  nodes_CC      CC_i  nodes_TPN     TPN_i
1       104  0.5076       104 -0.4792        22  0.026222        232  0.483611
2        15  0.5106       340 -0.0108       332  0.026895        340  0.498778
3       195  0.5132       232 -0.0041       104  0.027567         15  0.685929

In [9]:
Propose_Result_table

,nodes_TC,TC_i,nodes_PI,PI_i,nodes_CC,CC_i,nodes_TPN,TPN_i
0,104,0.5076,104,-0.4792,22,0.026222,232.0,0.483611
1,15,0.5106,340,-0.0108,332,0.026895,340.0,0.498778
2,195,0.5132,232,-0.0041,104,0.027567,15.0,0.685929
3,41,0.5141,133,0.0464,134,0.028366,104.0,0.941808
4,2,0.5143,587,0.0926,232,0.028909,332.0,1.529465
5,298,0.5145,453,0.1603,577,0.030489,195.0,2.074936
6,48,0.5164,40,0.1604,40,0.030873,22.0,5.564983
7,203,0.5166,354,0.1618,41,0.031143,NaN,NaN
8,204,0.5166,181,0.1633,377,0.032173,NaN,NaN
9,45,0.5177,15,0.1643,51,0.032947,NaN,NaN
10,332,0.5179,48,0.1965,75,0.034563,NaN,NaN
11,433,0.5179,23,0.2352,428,0.034993,NaN,NaN
12,551,0.5179,51,0.2711,20,0.035706,NaN,NaN
13,115,0.5182,302,0.3305,133,0.036059,NaN,NaN
14,40,0.5185,390,0.3360,354,0.036244,NaN,NaN
15,353,0.5187,375,0.3366,15,0.036495,NaN,NaN
16,388,0.5188,611,0.3431,467,0.038354,NaN,NaN
17,55,0.5189,659,0.3833,195,0.038658,NaN,NaN
18,139,0.5194,182,0.3943,136,0.039076,NaN,NaN
19,214,0.5194,57,0.3959,353,0.039949,NaN,NaN
20,331,0.5194,20,0.4139,331,0.040043,NaN,NaN
21,0,0.5197,72,0.4275,44,0.040143,NaN,NaN
22,23,0.5200,75,0.4336,23,0.041149,NaN,NaN
23,20,0.5203,753,0.4481,236,0.041490,NaN,NaN
24,127,0.5205,584,0.4540,71,0.041846,NaN,NaN
25,197,0.5210,941,0.4683,203,0.041865,NaN,NaN
26,22,0.5212,631,0.4714,115,0.042434,NaN,NaN
27,725,0.5219,660,0.4817,182,0.042458,NaN,NaN
28,218,0.5221,507,0.4850,127,0.042989,NaN,NaN
29,395,0.5221,115,0.4884,53,0.043171,NaN,NaN
...,...,...,...,...,...,...,...,...
694,637,1.0000,33,1.4627,405,0.344482,NaN,NaN
695,639,1.0000,743,1.4662,940,0.345555,NaN,NaN
696,675,1.0000,209,1.4721,122,0.355638,NaN,NaN
697,700,1.0000,419,1.4796,913,0.368699,NaN,NaN
698,701,1.0000,227,1.4875,675,0.370151,NaN,NaN
699,706,1.0000,583,1.4965,644,0.375145,NaN,NaN
700,718,1.0000,245,1.5085,937,0.377343,NaN,NaN
701,752,1.0000,149,1.5136,1053,0.384184,NaN,NaN
702,753,1.0000,63,1.5152,651,0.384479,NaN,NaN
703,816,1.0000,141,1.5203,472,0.385243,NaN,NaN
704,870,1.0000,221,1.5515,441,0.388107,NaN,NaN
705,877,1.0000,885,1.5612,981,0.390122,NaN,NaN
706,879,1.0000,887,1.5612,447,0.391935,NaN,NaN
707,898,1.0000,425,1.5872,836,0.393473,NaN,NaN
708,913,1.0000,65,1.5986,1018,0.397100,NaN,NaN
709,921,1.0000,21,1.6007,25,0.397949,NaN,NaN
710,922,1.0000,83,1.6045,1079,0.398962,NaN,NaN
711,927,1.0000,210,1.6102,1083,0.398962,NaN,NaN
712,929,1.0000,123,1.6206,138,0.399271,NaN,NaN
713,931,1.0000,541,1.6272,1086,0.399877,NaN,NaN
714,937,1.0000,80,1.6320,943,0.400059,NaN,NaN
715,943,1.0000,884,1.6431,1012,0.400623,NaN,NaN
716,959,1.0000,886,1.6431,596,0.417320,NaN,NaN
717,981,1.0000,10,1.6557,1001,0.420212,NaN,NaN
718,989,1.0000,570,1.6630,985,0.420727,NaN,NaN
719,1001,1.0000,787,1.6639,1040,0.421827,NaN,NaN
720,1006,1.0000,38,1.6693,927,0.427344,NaN,NaN
721,1012,1.0000,1,1.6736,898,0.467795,NaN,NaN
722,1016,1.0000,400,1.6830,879,0.480024,NaN,NaN
723,1018,1.0000,17,1.7195,1016,0.547004,NaN,NaN